.FAQs {
  background-color: #fff;
  width: 100%;
  max-width: 60rem;
  border-radius: 1.6rem;
  z-index: 999;
  padding: 4rem;

  @media (max-width: $phone) {
    padding: 2.4rem;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    &-text {
      font-size: 6rem;
      color: $dark-purple;
    }

    &-icon {
      @media (max-width: $phone) {
        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }

  &__questions {
    margin-top: 3.2rem;

    @media (max-width: $phone) {
      margin-top: 2.4rem;
    }
  }

  &__accordion {
    list-style: none;
    font-size: 1.8rem;
    padding: 2.4rem 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $light-pink;
    }
  }

  &__accordion--question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 99;
    position: relative;
    // background-color: blue;

    .question {
      &:hover {
        color: $pink;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
    }
  }

  &__accordion--btn {
    background-image: url(../../assets/images/icon-plus.svg);
    flex-shrink: 0;
  }

  &__accordion--answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    // background-color: red;
  }
}

.FAQs__accordion--question.open .btn {
  background-image: url(../../assets/images/icon-minus.svg);
}

.FAQs__accordion--question.open ~ .FAQs__accordion--answer {
  // margin-top: 2.4rem;
}
