.main-heading {
  color: $dark-purple;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: $phone) {
    font-size: 3.2rem;
  }
}

.question {
  color: $dark-purple;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media (max-width: $phone) {
    font-size: 1.6rem;
  }
}
.answer {
  color: $pale-purple;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: $phone) {
    font-size: 1.4rem;
  }
}
